@charset "ISO-8859-1";
/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.sidebar {
  position: fixed;
  height: 100%;
  width: 260px;
  background:rgb(44, 44, 216);
  padding: 15px;
  z-index: 99;
}
#logoComp img{
    margin-left: 2vw;
    width: 10vw;
    height: 15vh;
}
.logo {
  font-size: 25px;
  padding: 0 15px;
}
.sidebar a {
  color: #fff;
  text-decoration: none;
}
.menu-content {
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 40px;
  overflow-y: scroll;
}
.menu-content::-webkit-scrollbar {
  display: none;
}
.menu-items {
  height: 100%;
  width: 100%;
  list-style: none;
  transition: all 0.4s ease;
}
.submenu-active .menu-items {
  transform: translateX(-56%);
}
.menu-title {
  color: #fff;
  font-size: 20px;
  padding: 15px 15px;
}
.item a,
.submenu-item {
  padding: 16px;
  display: inline-block;
  width: 100%;
  border-radius: 12px;
}
.item i {
  font-size: 12px;
}
.item a:hover,
.submenu-item:hover,
.submenu .menu-title:hover {
  color: black;
  font-weight: bolder;
  background:#fff;
  padding-right: 10px;
  transition: 0.4s;
}
.submenu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  cursor: pointer;
}
.submenu {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: calc(-100% - 26px);
  height: calc(100% + 100vh);
  background:rgb(44, 44, 216);
  display: none;
}
.show-submenu ~ .submenu {
  display: block;
}
.submenu .menu-title {
  border-radius: 12px;
  cursor: pointer;
}
.submenu .menu-title i {
  margin-right: 10px;
}
.navbar,
.main {
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  z-index: 1000;
  /* overflow-x: hidden; */
}
.sidebar.close ~ .navbar,
.sidebar.close ~ .main {
  left: 0;
  width: 100%;
}
.navbar {
  position: fixed;
  color: #fff;
  padding: 15px 20px;
  font-size: 25px;
  background:rgb(44, 44, 216);
  cursor: pointer;
  box-shadow: 3px 3px 10px black;
}
.navbar #sidebar-close {
  cursor: pointer;
}
.main {
  position: relative;
  display: flex;
  height: 200vh;
  z-index: 100;
  background: cadetblue;
}
#icon{
  position: absolute;
  top: 12px;
  right: 0px;
  width: 50px;
  height: 50px;
}
button{
  font-size: 30px;
  border-radius: 47%;
  padding: 2px;
  width: 30px;
  height: 30px;
}
.profile{
  font-size: 1px;
  float: left;
}
.onlineMemb{
    float: right;
}
.onlineUser{
    margin-left: 10px;
}
.onlineUser i{
    font-size: 30px;
}
.online{
    display: flex;
    background:black;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
}
#bell{
    position: fixed;
    left: 93vw;
    top: 2.5vh;
}
.greet{
  font-family: "Poppins", sans-serif;
  width: 80vw;
  height: 80px;
  position: relative;
  background: whitesmoke;
  top: 70px;
  margin: 20px;
  border-radius: 10px;
}
.greet .prof{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: green;
  position: relative;
  top: 15px;
  left: 10px;
  font-size: 30px;
  color: white;
}
.prof pre{
  position: relative;
  top:8px;
}
.greet label{
  position: relative;
  left: 80px;
  top: -25px;
  font-size: 20px;
}
#date{
  font-size: 20px;
  position: absolute;
  top: 30px;
  left: 73vw;
}






.piediv{
  position: absolute;
  left: 1.6vw;
  width: 26vw;
  background: whitesmoke;
  height: 50vh;
  top: 70vh;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.piediv input{
position: relative;
top: 10vh;
}
	.piechart { 
    left: 60px;
    top: 60px;
		display: block; 
		position: absolute; 
		width: 300px; 
		height: 300px; 
		border-radius: 50%; 
		background-image: conic-gradient( 
			pink 70deg, 
			lightblue 0 235deg, 
			orange 0); 
	} 
  .piediv button,.piediv label{
    position: relative;
    top: 42vh;
  }
  .piediv button{
    position: relative;
    left: 20px;
    width: 15px;
    height: 15px;
    margin-right: 20px;
    margin-left: 80px;
  }
  .piediv label{
    position: relative;
    left: 20px;
    font-size: 15px;
    margin-right: 30px;
  }






.gaugediv
{
 
  width: 28vw;
  height: 35vh;
  position: absolute;
  top: 70vh;
  left: 29vw;
  background: whitesmoke;
  border-radius: 10px;
}
  .gauge {
    position: relative;
    left: 5vw;
    top: 8vh;
    border-radius: 50%/100% 100% 0 0;
    background-color: var(--color, #a22);
    overflow: hidden;
}
.gauge:before{
    content: "";
    display: block;
    padding-top: 50%;   /* ratio of 2:1*/
}
.gauge .chart {
  overflow: hidden;
}
.gauge .mask {
  position: absolute;
  left: 20%;
  right: 20%;
  bottom: 0;
  top: 40%;
  background-color: #fff;
  border-radius: 50%/100% 100% 0 0;
}

.gauge .percentage {
    position:  absolute;
    top: -1px;
    left: -1px;
    bottom: 0;
    right: -1px;
    background-color: var(--background, #aaa);
    transform:rotate(var(--rotation)); 
    transform-origin: bottom center; 
    transition-duration: 600;
}
.gauge:hover {
  --rotation: 100deg;
}
.gauge .value {
  position:absolute; bottom:0%; left:0;   
  width:100%; 
  text-align: center;
}

.gauge .min {
  position:absolute; 
  bottom:0; left:5%;   
}
.gauge .max {
  position:absolute; 
  bottom:0; right:5%;   
 }


/* ---- RESET/BASIC STYLING ---- */

*::-webkit-scrollbar {
  display: none;
}

.board {
  position: absolute;
  top: 20vh;
  width: 100%;
  height: 50vh;
  overflow: scroll;
  background: transparent;
  background-position: center;
  background-size: cover;
}

/* ---- FORM ---- */
#todo-form {
  padding: 32px 32px 0;
}

#todo-form input {
  padding: 12px;
  margin-right: 12px;
  width: 225px;

  border-radius: 4px;
  border: none;

  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  background: white;

  font-size: 14px;
  outline: none;
}

#todo-form button {
  width: 80px;
  height: 40px;
  border-radius: 4px;
  border: none;

  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  background: #ffffff;
  color: black;

  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

/* ---- BOARD ---- */
.lanes {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  gap: 16px;

  padding: 24px 32px;

  overflow: scroll;
  height: 100%;
}

.heading {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 8px;
}

.swim-lane {
  display: flex;
  flex-direction: column;
  gap: 12px;

  background: #f4f4f4;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);

  padding: 12px;
  border-radius: 4px;
  width: 350px;
  min-height: 200px;

  flex-shrink: 0;
}

.task {
  background: white;
  color: black;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);

  padding: 12px;
  border-radius: 4px;

  font-size: 16px;
  cursor: move;
}

.is-dragging {
  scale: 1.05;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  background: rgb(50, 50, 50);
  color: white;
}




























